@import "../styles/theme.css";


/* small helpers */
.hidden { display: none !important; }
.mt-1 { margin-top: .25rem; }
.mt-2 { margin-top: .5rem; }
.mt-3 { margin-top: 1rem; }
.mb-2 { margin-bottom: .5rem; }
.center { display: flex; justify-content: center; align-items: center; }
